/************************* START GLOBALS *************************/
body {
    font-family: Nunito, "Segoe UI", cursive, Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
    background-color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    outline: 0;
    text-decoration: none;
    color: inherit;
    padding: 0 5px;
}

a.active {
    background: #282639;
    border-left: 3px solid #fff;
}

ul {
    list-style-type: none;
}

svg {
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
}

label {
    margin-bottom: 2pt;
    display: block;
    text-align: left;
    font-size: 0.9em;
    padding-left: 10pt;
}

input {
    outline: none;
    border: 1px solid #eee;
    width: 100%;
    transition: 0.7s;
    color: #282639;
    font-size: 18px;
    font-weight: lighter;
    padding: 10pt 20pt;
    border-radius: 30px;
    background-color: #EAEDF3;
    margin-bottom: 1.4em;
}

input:focus {
    border-color: #302D50;
    outline: 0;
    background-color: #ffffff;
}

.button {
    border-radius: 30px;
    padding: 10pt 20pt;
    border: 1px solid #302D50;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    transition: 0.7s;
}

.button--small {
    border-radius: 30px;
    padding: 5pt 10pt;
}

.button--centered {
    text-align: center;
}

.button:hover,
.button:focus {
    background-color: #302D50;
    color: #fff
}

form {
    text-align: center;
}

.on-hover-effect a:hover {
    background: #282639;
    border-left: 3px solid #fff;
    transition: .11s ease-in;
}

.no-display,
.no-display2 {
    display: none;
}

/************************* END GLOBALS *************************/
/************************* START HEADER *************************/
.navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 70px;
}

.navbar--background {
    background-color: #302D50;
}

.navbar__extended {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    max-width: 280px;
    height: 100vh;
    background-color: #302D50;
}

.navbar__logo {
    font-size: 2.5rem;
    font-family: cursive;
    margin: 20px;
}

.navbar__logo:hover {
    border: none;
    background: none;
}

@media (min-width: 411px) {
    .navbar__logo {
        font-size: 1.5rem;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    .navbar__logo {
        font-size: 1.2rem;
    }
}

.navbar__menu {
    display: none;
    font-size: 1em
}

@media (min-width: 768px) {
    .navbar__menu {
        display: block;
    }

    .navbar__hamburger {
        display: none;
    }
}

.dropdown-arrow {
    padding: 0;
}

.navbar__menu li {
    margin-left: 4pt;
    display: inline-block;
}

.navbar__menu li a:hover {
    border-bottom: 1px solid #fff;
    transition: .11s ease-in;
}

.navbar__menu li .no-border-on-hover:hover {
    border: none;
}

@media (min-width: 992px) {
    .navbar__menu li {
        margin-left: 16pt;
    }
}

.navbar__hamburger {
    padding-top: 10px;
    margin-right: 10px;
}

@media (min-width: 992px) {
    .navbar__hamburger {
        display: none;
    }
}

nav {
    margin-right: 20px;
}

nav.navbar__menu-mobile {
    position: fixed;
}

.navbar__menu-mobile,
.navbar__menu-mobile--margin {
    display: none;
    color: #ffffff;
    background-color: #423e63;
    margin-top: 17%;
    position: absolute;
    z-index: 3;
    width: 100%;
}

@media (min-width: 320px) {
    .navbar__menu-mobile--margin {
        margin-top: 30%;
    }

    .navbar__menu-mobile--margin a {
        padding: 0;
    }
}

.navbar__menu-mobile ul,
.navbar__menu-mobile--margin ul {
    padding-inline-start: 0;
}

.navbar__menu-mobile li,
.navbar__menu-mobile--margin li {
    text-align: center;
    padding: 8px 0;
    transition: .7s ease-in-out;
}

.navbar__menu-mobile li:hover,
.navbar__menu-mobile--margin li:hover {
    background: #302D50;
}

.navbar__menu-mobile a {
    padding: 0 40%;
}

.navbar__menu-mobile a,
.navbar__menu-mobile--margin a {
    font-size: 18px;
    background: none;
}

.navbar__menu ul li a img {
    position: relative;
    top: -1px;
    right: 15px;
    width: 11px;
}

.navbar__menu ul li img {
    position: relative;
    top: 7px;
    width: 1.2em;
}

.navbar__menu-profile {
    display: none;
    position: absolute;
    top: 65px;
    right: 1px;
    background: #302D50;
}

@media (max-width: 767px) {
    .navbar__menu-profile {
        display: none;
    }
}

.navbar__menu-profile ul {
    z-index: 103;
    padding: 0;
}

.navbar__menu-profile ul li {
    padding: 10px;
    width: 150px;
}

.navbar__menu-profile ul li a {
    width: 100%;
    padding-right: 80px;
}

/************************* END HEADER *************************/
/************************* START HERO *************************/
.hero {
    position: relative;
    width: 100%;
    background-image: url("../img/hotel.jpg");
    box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
}

.hero__z-index-one {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index: 1;
    background-color: #302D50;
}

.hero__z-index-one--gradient {
    background: linear-gradient(to right, #473198, #4641ff);
}

.hero__z-index-two {
    position: relative;
    z-index: 2;
}

.hero__body {
    display: flex;
    align-items: center;
    min-height: calc(100vh);
    padding: calc(92px) 0;
    overflow: auto;
}

.hero__body__items {
    width: 100%;
    text-align: center;
}

.hero__title {
    font-size: 1.6rem;
}

.hero__desc {
    opacity: 0.85;
    line-height: 1.7;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .hero__title {
        font-size: 3rem;
    }

    .hero__desc {
        font-size: 1.5rem;
    }
}

/************************* END HERO *************************/
/************************* START CONTAINER *************************/
.container {
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    position: relative;
    top: 82px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (width: 360px) {
    .container {
        top: 18px;
    }
}

@media (width: 320px) {
    .container {
        top: 1px;
    }
}

@media (width: 375px) {
    .container {
        top: 50px;
    }
}

.container--login {
    padding: 4rem;
}

@media (min-width: 1024px) {
    .container--form {
        width: fit-content;
    }
}

@media (max-width: 768px) {
    .container--form {
        width: 250px;
    }
}

.container--signup {
    padding: 1rem;
}

@media (max-width: 360px) {
    .container--signup {
        padding: 3rem;
    }
}

.container__title {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.container__desc {
    text-align: center;
}

/************************* END CONTAINER ***************************/
/************************* START SIDEMENU ***************************/
.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: smaller;
    margin-top: 68px;
    color: #fff;
}

@media (max-width: 414px) {
    .side-menu {
        display: none;
    }
}

.side-menu__links {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.side-menu a {
    padding: 15px 40px;
    width: 100%;
    max-width: 270px;
}

/************************* END SIDEMENU *****************************/
/************************* START CONTENT SECTION *****************************/
.search-box {
    position: fixed;
    z-index: 100;
    top: 30px;
    width: 500px;
}

@media (max-width: 767px) {
    .search-box {
        display: none;
    }
}

@media (width: 768px) {
    .search-box {
        width: 300px;
        /* display: none; */
    }
}

.content-section {
    padding-left: 280px;
    padding-top: 110px;
}

@media (width: 320px) {
    .content-section {
        padding-left: 40px;
    }
}

@media (width: 360px) {
    .content-section {
        padding-left: 60px;
    }
}

@media (width: 375px) {
    .content-section {
        padding-left: 70px;
    }
}

@media (width: 411px) {
    .content-section {
        padding-left: 80px;
    }
}

@media (width: 414px) {
    .content-section {
        padding-left: 90px;
    }
}

.content-section__main {
    display: flex;
    flex-wrap: wrap;
}

.content-section__main-2 {
    margin-right: 80px;
}

.content-section__main-3 {
    text-align: center;
}

.property {
    padding-right: 35px;
    transition: 2s;
    font-family: cursive;
    text-align: center;
}

.property:hover {
    padding-right: 35px;
    transform: scale(1.05, 1.05);
}

.property__image {
    border-radius: 10px;
    width: 219px;
    height: 167px;
}

@media (width: 568px) {
    .property__image {
        width: 250px;
    }
}

@media (min-width: 640px) {
    .property__image {
        width: 300px;
        height: 200px;
    }

    .property__image--center {
        margin: 0 auto;
    }
}

@media (width: 768px) {
    .property__image {
        width: 198px;
        height: 157px;
    }
}

@media (min-width: 812px) {
    .property__image {
        width: 480px;
        height: 250px;
    }
}

@media (min-width: 823px) {
    .property__image {
        width: 470px;
        height: 250px;
    }
}

@media (min-width: 1024px) {
    .property__image {
        width: 198px;
        height: 157px;
    }
}

@media (min-width: 1366px) {
    .property__image {
        width: 460px;
        height: 280px;
    }
}

.property__desc {
    text-align: center;
    margin: 0
}

.property__agent {
    text-align: cex nter;
    max-width: 200px;
    margin: 0
}

.prop_image_icon {
    width: 50px;
    height: 30px;
}

/************************* END CONTENT SECTION *****************************/
/********** START TABLE ************/
table {
    border-collapse: collapse;
    color: #282639;
    width: 219px;
    margin-top: 30px;
    font-size: .9em;
}

@media (width: 568px) {
    table {
        width: 250px;
    }
}

@media (min-width: 640px) {
    table {
        width: 300px;
    }

    .table__layout {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    table {
        width: 420px;
    }
}

@media (min-width: 812px) {
    table {
        width: 480px;
    }
}

@media (min-width: 823px) {
    table {
        width: 470px;
    }
}

@media (min-width: 1024px) {
    table {
        width: 570px;
    }
}

@media (min-width: 1366px) {
    table {
        width: 599px;
    }
}

table tr:nth-child(odd) {
    background: #d2d0ff;
}

td {
    padding: 10px;
}

.prop_price {
    text-align: center;
    padding: 5px 0;
}

.my_property_section {
    overflow-x: auto;
}

.my_property_table {
    width: 100%;
}

.my_property_table thead {
    background: none;
}

.my_property_table tr {
    text-align: center;
}

.property__detail {
    display: inline-block;
    background: #eee;
    color: #302D50;
    text-align: center;
    margin-top: 60px;
    margin-right: 15px;
    padding: 5px;
    min-width: 120px;
    box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
}

.property__detail p:first-child {
    text-transform: uppercase;
    font-weight: 700;
}

/********** END TABLE ************/
/********** START FILTER ************/
.filter {
    margin-left: 10px;
}

.filter__property {
    font-size: 1em;
    width: 50%;
    padding: 15px;
    margin-bottom: 20px;
    outline: 0;
    border-radius: 1.5em;
}

/********** END FILTER ************/
/********** START PROPERTY POST ************/
.row {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1366px) {

    .column1_1,
    .column1_2 {
        width: 400px;
    }
}

.container--post-property {
    text-align: center;
}

/********** END PROPERTY POST ************/